[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
click = "*"
aiohttp = "*"
aioconsole = "*"
sanic = "*"
toml = "*"
pynacl = "*"
terminaltables = "*"
ordered-set = "*"
python-dateutil = "*"
mzo = {editable = true,path = "."}
fuzzywuzzy = {extras = ["speedup"],version = "*"}

[dev-packages]
twine = "*"
homebrew-pypi-poet = "*"
pytest = "*"
mypy = "*"
flake8 = "*"
pytest-asyncio = "*"
black = "*"

[pipenv]
allow_prereleases = true

[scripts]
deploy_hombrew = "python scripts/deploy-homebrew.py"
deploy_snapcraft = "python scripts/deploy-snapcraft.py"
