[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
click = "*"
aiohttp = "*"
aioconsole = "*"
sanic = "*"
toml = "*"
pynacl = "*"
terminaltables = "*"
ordered-set = "*"
python-dateutil = "*"
mzo = {editable = true,path = "."}

[dev-packages]
twine = "*"
homebrew-pypi-poet = "*"
pytest = "*"
mypy = "*"
flake8 = "*"
